.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 15px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-link:hover {
    color: #f39c12; /* Add a hover effect color */
  }
  